li {
    list-style: none;
}

.app{
    background-color: aquamarine;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.app__header {
    text-align: center;
}

.display__list {
    display: grid;
}

.card {
    list-style: none;    
    border: 1px solid white;
    border-radius: 20px;
    width: 250px;   
    margin: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(3, 3, 3);
    text-align: center;
}
.card__name {
    font-size: 20px;
    margin-bottom:0;

}
.card__price {
    font-size: 14px;
}
.card__image {
    width: 250px;
  
}
.card__photo {
    width: 100%;
}
.card__description {
    font-size: 14px;
}

.card__ingredients {
    margin:0;
    padding:0;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ingredient {
    border-radius: 5px;
    border:1px solid aquamarine;
    padding: 2px;
    margin: 3px;
}

/*cart-styles*/
.main__cart{    
    padding: 10px;
    width: 260px;
}
.cart-icon {
    font-size:25px;
    color:white;
    margin: 8px;
}
.shop-card {
    background-color:white;
    color: rgb(75, 138, 117);
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px;
    margin: 8px;
}
.shop-card__name {
    font-size: 16px;
    margin:0;
}
.shop-card__price {
    font-size: 14px;
    margin-bottom:0;
    color:rgb(43, 51, 50)
}
.shop-card__btn {
    border-radius: 50%;
    padding:0;
    width:20px;
    height:20px;   
    color: rgb(43, 51, 50);
    font-weight: 500;
    background-color: white;
}
.cart__counter{
    border-bottom: 2px solid white;
    color:black;
    display:flex;   
    justify-content:center;
    align-items: center;
}
.counter__items {
    font-size:12px;
    font-weight: 700; 
    margin:0 10px;      
}
.counter__price {
    font-size: 16px;
    font-weight:700;
}
.app__main {
    display: grid;
    grid-template-columns: 1fr 300px;    
}
@media all and (min-width: 768px) {
  
 
 }

 @media all and (min-width: 950px) {
    .display__list {
        grid-template-columns: 1fr 1fr;
    }
    .display__cart {
        grid-template-columns: 280px;
    }
 }

 @media all and (min-width: 1200px) {
    .display__list {
        grid-template-columns:  1fr 1fr 1fr;
    }
 }

 