.app{
    background-color: aquamarine;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.display__list {
    display: grid;
}

.card {
    list-style: none;
    border: 1px solid white;
    border-radius: 20px;
    width: 300px;   
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    text-align: center;
}
.card__name {
    font-size: 20px;

}
.card__price {
    font-size: 14px;
}
.card__image {
    width: 250px;
  
}
.card__photo {
    width: 100%;
}
.card__description {
    font-size: 14px;
}

.card__ingredients {
    font-size: 14px;
}

@media all and (min-width: 768px) {

    .display__list {
        grid-template-columns: 1fr 1fr;
    }
 }

 @media all and (min-width: 950px) {
    .display__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
 }

 @media all and (min-width: 1200px) {
    .display__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 }